@font-face {
    font-family: "KanitM";
    src: url("../fonts/Kanit\ Cyrillic.otf"),
    url("../fonts/Kanit\ Cyrillic.ttf");
}
body {
    margin:0;
    padding: 0;
    display: grid;
}
.r1 {
    grid-row: 1;
}
.c1 {
    grid-column:1;
}
.r2 {
    grid-row: 2;
}
.c2 {
    grid-column:2;
}
.r3 {
    grid-row: 3;
}
.c3 {
    grid-column:3;
}
.r4 {
    grid-row: 4;
}
.c4 {
    grid-column:4;
}
.r5 {
    grid-row: 5;
}
.c5 {
    grid-column:5;
}
.r6 {
    grid-row: 6;
}
.c6 {
    grid-column:6;
}
.r7 {
    grid-row: 7;
}
.c7 {
    grid-column:7;
}
#body {
    background-color: #F7F7F7;
}
.vh8 {
    height:8vh;
    /* background-color: aquamarine; */
}
.vh17 {
    height:17vh;
    /* background-color: aquamarine; */
}
.vh2_3 {
    height:2.3vh;
    /* background-color: aquamarine; */
}
.headline {
    font-family: "KanitM";
    font-size: 1.65vmax;
    color:#252525;
    text-align: center;
}
.searchRow {
    width:53.5%;
    height:5.3vh;
    /* background-color: aqua; */
    justify-self: center;
    display:grid;
    grid-template-columns: 73% 6.3% 2.3% 11.3% 2.2% 1fr;
    grid-template-rows: 100%;
}
.searchInput {
    border: 0.11vmax solid #6C63FF;
    padding-left: 2.2%;
    border-radius: 0.5vmax;
    outline:none;
    font-size:1.18vmax;
    font-weight: 500;
    color:#252525;
    grid-column:1/3;
    grid-row:1;
}
.searchInput::placeholder {
    color:#C3C1E5;
}
.searchIcon {
    grid-column:2;
    grid-row:1;
    justify-self: center;
    height:1.6vmax;
    align-self:center;
}
.violet {
    background-color: #6C63FF;
    color:#F7F7F7;
    font-family: "KanitM";
    font-size:1.4vmax;
    border-radius: 0.5vmax;
}
#filter {
    grid-column:4;
    outline:none;
    padding-left: 5%;
    padding-right: 5%;
}
#theme {
    grid-column: 6;
    display:grid;
}
#theme svg {
    height:1.6vmax;
    align-self:center;
    justify-self: center;
}
.modal_block {
    height:41vh;
    width:35.5%;
    justify-self: center;
    background-color: #F7F7F7;
    border-radius: 0.8vmax;
    display:grid;
    grid-template-columns: 5.5% 1fr 5.5%;
    grid-template-rows: 6% 17% 13% 7% 13% 25% 13% 1fr;
}
.dark_body {
    background-color: rgba(37, 37, 37, 0.7);
    height: 100vh;
    width: 100%;
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
    /* display: none; */
}
#r2c2 {
    grid-column: 2;
    grid-row:2;
}
#r3c2 {
    grid-column: 2;
    grid-row:3;
}
#r5c2 {
    grid-column: 2;
    grid-row:5;
}
.inputTextModal {
    border: 0.11vmax solid #6C63FF;
    border-radius: 0.5vmax;
    padding-left: 2.7%;
    outline:none;
    font-size:1.15vmax;
    font-weight: 500;
    color:#252525;
}
.inputSubmitModal {
    background-color: #6C63FF;
    color: #F7F7F7;
    font-family: "KanitM";
    font-size:1.2vmax;
    border-radius: 0.5vmax;
    justify-self: end;
    border: none;
}
.w22 {
    width: 22%;
}
.w50 {
    width: 50%;
}
.cancelModal {
    border: 0.11vmax solid #6C63FF;
    color: #6C63FF;
    font-family: "KanitM";
    font-size:1.2vmax;
    border-radius: 0.5vmax;
    width: 25%;
    text-align: center;
    line-height: 225%;
}
.moveModal {
    color: #6C63FF;
    font-family: "KanitM";
    font-size:1.1vmax;
    border-radius: 0.5vmax;
    width: 40%;
    text-align: center;
    line-height: 225%;
}
.modal_block input::placeholder {
    color:#C3C1E5;
}
.one_note_block {
    width:60vw;
    justify-self: center;
    align-items: center;
    height: 5vh;
    display: grid;
    grid-template-columns: 7% 5% 1fr;
    grid-template-rows: 100%;
}
.line {
    height: 0.1vh;
    background-color: #6C63FF;
    width: 55vw;
}


